.Umrah-programs{
    height:max-content;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.Umrah-programs-paragraph{
    width: 85%;
    color:var(--color-dark-gold);
    direction: rtl;
    font-size: 28px;
    margin: 40px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10% 20% 10% 50% /10% 50% 10% 50% ;
    box-shadow: 10px 7px 10px;
}